* {
    font-family: Roboto;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.header-logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav-items {
    display: flex;
    gap: 20px;;
    font-size: 18px;
}

a {
    cursor: default;
    text-decoration: none;
    color: #e5e7eb;
}

#top-1 {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-around;
    padding: 50px;
}

.top-1-blurb {
    display:  flex;
    flex-direction: column;
    flex: 0.6 0 0;
}

.top-1-blurb button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #e5e7eb;
}

.image {
    background-color: rgba(255, 255, 255, 0.3);
}

#top-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-2-items {
    display: flex;
    gap: 50px;
}

.top-2-items img {
    width: 100px;
    height: auto;
    border: 3px solid blue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#bottom-3 {
    background-color: #E5E7EB;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#bottom-3 h4 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#bottom-3 h6 {
    padding: 0 0 0 500px;
}

#bottom-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.bottom-4-blue-square {
    background-color: #3882F6;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 10px 30px 10px 30px;
}

.bottom-4-blue-square button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid;
    border-radius: 3px;
}

